.carousel-indicators>li {
  width: 12px !important;
  height: 12px !important;
  border-radius: 100% !important;
  border: 1px ridge rgb(15, 15, 15);
  background-color: #235071 !important;

}

.carousel-indicators .active {
  background-color: #000 !important;
}